<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CREATE</title>
</head>
<body>
<div th:align="center">
    <h2>Create User</h2>
    <form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
        <table th:border="2" th:cellpadding="15">
            <tr>
                <td>username</td>
                <td><input type="text" name="username"/>
                </td>
            </tr>
            <tr>
                <td>Firstname</td>
                <td><input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td><input type="text" th:field="*{lastName}"/>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <td>Role</td>
                <td><input type="checkbox" name="nameRole"
                    th:each="role : ${roleName}"
                    th:text="${role.name}"
                    th:value="${role.name}">
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Create"/>
    </form>

    <br>


    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Back"/>
    </form>
    <br>

    <form th:action="@{/logout}" method="get">
        <input type="submit" value="exit"/>
    </form>

    </form>
</div>
</body>
</html>